body {
    color: rgb(145, 0, 150);
    text-align: center;
    font-family: fantasy;
}

#contenedor {
    width: 70%;
    padding: 0;
    border-radius: 5% solid #333;
    margin: 0 auto;
}

#parrafomaster {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#cabecera {
    font-size: 35px;
    align-items: center;
    margin: 3%;
    padding: 1%;
    background: rgb(235, 137, 197);
}