body {
    background: #333;
    color: rgb(31, 30, 30);
    text-align: center;
    font-family: fantasy;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 70%;
    padding: 0;
    border-radius: 5% solid #333;
    margin: 0 auto;
}

#parrafomaster {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
#cabecera {
    box-shadow: 0px 2px 20px 0px rgb(65, 65, 65);
    font-weight: bold;
    font-size: 35px;
    align-items: center;
    margin: 2%;
    padding: 1%;
    background: rgb(235, 137, 197);
}

#dia21 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#post {
    background: #fff;
    padding: 1em;
}

#cabecera #logo {
    vertical-align: middle;
    width: 50px;
}